
{% extends "layout.html" %}
{% block body %}
<h1>Flight Detail
</h1>

        <table class="table table-striped">
    <thead style="background-color: blue;color: white;">
    <td>Flight ID</td>
    <td>Departure time</td>
	<td>Arrival time</td>
    <td>Departure loc</td>
    <td>Seats left</td>
    <td>Status</td>
    <td>Aircraft id</td>
    </thead>
    <tr>
        <td>{{ flight.id }}</td>
        <td>{{ flight.departure_time }}</td>
        <td>{{ flight.arrival_time }}</td>
        <td>{{ flight.departure_loc }}</td>
        <td>{{ flight.seats_left }}</td>
        <td>{{ flight.status }}</td>
        <td>{{ flight.aircraft_id.ac_id }}</td>
    </tr>
</table>
    <h1>Flight Seats</h1>
    <table class="table table-striped">
    <thead style="background-color: blue;color: white;">
    <td >Seat ID</td>
	<td>Seat Number</td>
    <td>Class</td>
    <td>Price</td>
    <td>Status</td>
    </thead>
        {% for row in flight.seats %}
    <tr>
        <td >{{ row.s_id }}</td>
        <td>{{ row.seat_number }}</td>
        <td>{{ row.cls }}</td>
        <td>{{ row.price }}￥</td>
        <td>{{ row.status }}</td>
    </tr>
    {% endfor %}
</table>

<form action="{% url 'booking_flight' %}" method="post">
    <h3>Choose Flight to book</h3>
    {% csrf_token %}
    <div class="col-auto">
        <label for="example-email-input" class="col-2 col-form-label">Flight ID</label>
        <div class="col-5">
            <input name='flight_id' class="form-control" type="number" id="example-email-input">
        </div>
    </div>
    <div class="col=auto">
        <label for="example-email-input" class="col-2 col-form-label">Number of People</label>
        <div class="col-5">
            <input name='number_people' class="form-control" type="number">
        </div>
    </div>
    <div class="col=auto">
        <label for="example-email-input" class="col-2 col-form-label">Seat ID</label>
        <div class="col-5">
            <input name='seat_id' placeholder="Please Space Off in order" class="form-control" type="text">
        </div>
    </div>
    <div class="col=auto">
        <label for="example-email-input" class="col-2 col-form-label">User ID</label>
        <div class="col-5">
            <input name='user_id' placeholder="Please Space Off in order" class="form-control" type="text">
        </div>
    </div>
    <div class="col=auto">
        <label for="example-email-input" class="col-2 col-form-label">Payment Method</label>
{#        <div class="col-5">#}
{#            <input name='payment_method' class="form-control" type="text">#}
{#        </div>#}
        <select type="text" class="form-control" id="" placeholder="" name="payment_method">
            <option style="display: none"></option>
             <option>PayPal</option>
             <option>Due</option>
            <option>Stripe</option>
             <option>Payline</option>
          </select>
    </div>

    <br>
    <br>
    <div class="pull-right">
        <button type="submit" class="btn btn-success float-left">Book Flight</button>
    </div>

</form>
{% endblock %}