{% extends "layout.html" %}
{% block body %}
    <div class="row">
        <div class="col-sm-6 mx-auto" style="margin-top: 70px">
            <h2>Search Flight</h2>
            <form action="{% url 'search_flight' %}" method="post">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">From</label>
                    <div class="col-10">
                        <input name='departure_loc' class="form-control" type="text" id="departure_loc">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">Destination</label>
                    <div class="col-10">
                        <input name='arrival_loc' class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label" >Date</label>
                    <div class="col-10">
                        <input name='travel_date' class="form-control" type="date">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label" >People nums</label>
                    <div class="col-10">
                        <input name='num_people' class="form-control" type="text">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label" >Seat class</label>
                    <select type="text" class="form-control" id="" placeholder="" name="seat_class">
                        <option style="display: none"></option>
                        <option value='0'>First</option>
                        <option value='1'>Business</option>
                        <option value='2'>Economics</option>
                    </select>
{#                    <div class="col-10">#}
{#                        <input name='seat_class' class="form-control" type="text">#}
{#                    </div>#}
                </div>
                <div class="pull-right">
                    <button type="submit" class="btn btn-success float-right">Search</button>
                </div>

            </form>
        </div>
    </div>
{#<h1>Flights#}
{##}
{##}
{#    <ul>#}
{#        {% for flight in data %}#}
{#        <a href="{% url 'flight' flight.flight_id %}">#}
{#            <li>Flight {{ flight.index }}: {{ flight.flight_id }}: {{ flight.travel_time }} : {{ flight.air_line_name }} : {{ flight.lowest_price }}</li>#}
{#        </a>#}
{#        {% endfor %}#}
{#    </ul>#}
{#</h1>#}

    <table class="table table-striped">
    <thead style="background-color: blue;color: white;">
    <td>INDEX</td>
	<td>ID</td>
    <td>TRAVEL TIME</td>
    <td>AIR LINE</td>
    <td>LOWEST PRICE</td>
    <td></td>
    </thead>

    {% for row in data %}
    <tr>
        <td>{{ row.index }}</td>
        <td>{{ row.flight_id }}</td>
        <td>{{ row.travel_time }}</td>
        <td>{{ row.air_line_name }}</td>
        <td>{{ row.lowest_price }}￥</td>
        <td>
            <a href="{% url 'flight' row.flight_id %}">
                detail
            </a>
        </td>
    </tr>
    {% endfor %}
</table>
{% if page_1.has_other_pages %}
<div class="text-center mt-2 mt-sm-1 mt-md-0 mb-3 f-16">
    {% if page_1.has_previous  %}
    <a class="text-secondary" href="?page={{page_1.previous_page_number}}">Previous</a>
    {%endif%}
    <span class="mx-2">Page&nbsp;{{page_1.number}}&nbsp;/&nbsp;{{ page_1.paginator.num_pages }}&nbsp;</span>
    {%  if page_1.has_next %}
    <a class="text-success" href="?page={{page_1.next_page_number}}">Next</a>
    {%  endif %}

</div>
{% endif %}
{% endblock %}