
{% extends "layout.html" %}
{% block body %}
<h2>List of flights</h2>
<table class="table table-striped">
    <thead style="background-color: blue;color: white;">
    <td>BOOKING ID</td>
    <td>FLIGHT ID</td>
    <td>FIRST NAME</td>
    <td>LAST NAME</td>
<td>STATUS</td>

    </thead>

    {% for row in book_list %}
    <tr>
        <td>{{row.b_id}}</td>
        <td>{{row.f.f_id}}</td>
        <td>{{row.first_name}}</td>
        <td>{{row.last_name}}</td>
    <td>{{row.status}}</td>
    </tr>
    {% endfor %}
</table>


<form action="{% url 'cancel_booking' %}" method="post">
    <h3>Cancel the Booking Record</h3>
    {% csrf_token %}
    <div class="col-auto">
        <label for="example-email-input" class="col-2 col-form-label">Booking ID</label>
        <div class="col-5">
            <input name='booking_id' class="form-control" type="number" id="example-email-input">
        </div>
    </div>
    <div class="col-auto">
        <label for="example-email-input" class="col-2 col-form-label">Flight ID</label>
        <div class="col-5">
            <input name='flight_id' class="form-control" type="number" id="example-email-input">
        </div>
    </div>

    <br>
    <br>
    <div class="pull-right">
        <button type="submit" class="btn btn-success float-left">Cancel Booking</button>
    </div>

</form>

    <form action="{% url 'change_seat' %}" method="post">
    <h3>Change the Booking Seat</h3>
    {% csrf_token %}
    <div class="col-auto">
        <label for="example-email-input" class="col-2 col-form-label">Booking ID</label>
        <div class="col-5">
            <input name='booking_id' class="form-control" type="number" id="example-email-input">
        </div>
    </div>
    <div class="col-auto">
        <label for="example-email-input" class="col-2 col-form-label">Flight ID</label>
        <div class="col-5">
            <input name='flight_id' class="form-control" type="number" id="example-email-input">
        </div>
    </div>
        <div class="col-auto">
        <label for="example-email-input" class="col-2 col-form-label">New Seat ID</label>
        <div class="col-5">
            <input name='new_seat_id' class="form-control" type="number" id="example-email-input">
        </div>
    </div>

    <br>
    <br>
    <div class="pull-right">
        <button type="submit" class="btn btn-success float-left">Change Seat</button>
        {% if message %}
           <script> window.alert("{{ message }}")</script>
         {% endif %}
    </div>

</form>
{% endblock %}